body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: purple;
    text-align: center;
}
#firstp{
    color: red;
    padding: 10px;
}
#secondp{
    color: blue;
    padding: 10px;
}
#thirdp{
    color: yellow;
    padding: 10px;
}
#firstli{
    color: red;
}
#secondli{
    color: blue;
}
#thirdli{
    color: yellow;
}
link{
    color: blue;
}
link:hover{
    text-decoration: none;
}
.styledbox{
    border-style: solid;
    background-color: lightgray;
    padding: 15px;
    text-align: center;
}
