body{
    background-color: rgb(195, 173, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#firstp{
    color: red;
    padding: 10px;
}
#secondp{
    color: blue;
    padding: 10px;
}
#thirdp{
    color: yellow;
    padding: 10px;
}
#firstli{
    color: red;
}
#secondli{
    color: blue;
}
#thirdli{
    color: yellow;
}
a{
    color: blue;
}
a:hover{
    text-decoration: none;
}
.styled-box{
    border: 4px solid black;
    background-color: lightgray;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
